@model TrendTeknoloji.Models.Account.ProfilModels

@{
    ViewBag.Title = string.Format("{0}{1}", Model.Members.Name, Model.Members.Surname);

    Model.Members.Profilimagename = string.IsNullOrEmpty(Model.Members.Profilimagename) ? "image/resim1.png" : Model.Members.Profilimagename;

    var currentUser = ((TrendTeknoloji.DB.Members)Session["LogonUser"]);

   
}

<div class="row">

    <div class="col-md-12 my-4">
        <h2 style="color: white">Profil sayfanız</h2>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/@Model.Members.Profilimagename" class="rounded-circle img-fluid img-thumbnail" style="height:200px">
    </div>
    <div class="col-md-8">
        <div class="form-group row">
            <label class="text-danger col-md-2">İsim:</label>
            <label class="col-md-10" style="color: white">@Model.Members.Name</label>
        </div>

        <div class="form-group row">
            <label class="text-danger col-md-2">Soyisim:</label>
            <label class="col-md-10" style="color: white">@Model.Members.Surname</label>
        </div>

        <div class="form-group row">
            <label class="text-danger col-md-2"><h6>E-mail:</h6></label>
            <label class="col-md-10" style="color: white">@Model.Members.Email</label>
        </div>


    </div>
</div>

@if(Session["Logonuser"] !=null && (currentUser.id==Model.Members.id))
{
    <div class="row">
        <div class="col-md-12 text-right">

            @if (((int) currentUser.Members_Type.Roller) > 2)
            {
                <a href="~/Haber/i" class="btn btn-warning">
                    <span> <h7>Haberler</h7></span>
                </a>

                <a href="~/Category/i" class="btn btn-warning">
                    <span><h7>Kategoriler</h7></span>
                </a>

            }

            <a href="~/Account/ProfilEdit" class="btn" style="background-color:#e6e6e6; color:black">
                <span><i class="fas fa-edit"></i> <h7>Düzenle</h7></span>
            </a>

        </div>
    </div>
}
