
@{
    ViewBag.Title = "Hakkimizda";
}


<div class="row my-5">
    <div class="col-md-6 details">
        <h5 style="color:#9e9e9e">Leyla Sena Usta</h5>
        <small><cite title="Source Title" style="color:#e0e0e0">İstanbul / Turkey <i class="icon-map-marker"></i></cite></small>

        <p style="color:#e0e0e0">
            Bio : 1 Nisan 1995 yılında istanbul'da doğdum.Bilişim sistemleri mühendisliği son sınıf öğrencisiyim.. <br />
        </p>

    </div>

    <div class="col-md-6 details">
        <h5 style="color:#9e9e9e">Okan Zeki Kayan</h5>
        <small><cite title="Source Title" style="color:#e0e0e0 ">İstanbul / Turkey <i class="icon-map-marker"></i></cite></small>
        
        <p style="color:#e0e0e0">
        Bio :24 Ağustos 1993 yılında İstanbul'da doğrum.Bilgisayar mühendisliği son sınıf öğrencisiyim.. <br />

        </p>

    </div>
</div>


